h1 {
    text-align: left;
}

h2 {
    font-weight: 800;
}

.recipe-hero-image {
    height: 70vh;
    width: auto;
}

.recipe-header {
    display: flex;
    flex-direction: row;
}

.recipe-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.recipe-header-content h1 {
    margin-bottom: 0px;
}

.recording-section {
    margin: 40px 0;
    padding: 24px;
    border-radius: 8px;
 }
 
 .audio-label {
    font-style: italic;
    margin-bottom: 16px;
 }
 
 audio {
    width: 400px;
 }
 
 audio::-webkit-media-controls-panel {
    background-color: #CA3933;
 }
 
 audio::-webkit-media-controls-play-button,
 audio::-webkit-media-controls-timeline,
 audio::-webkit-media-controls-current-time-display,
 audio::-webkit-media-controls-time-remaining-display,
 audio::-webkit-media-controls-time-remaining-display,
 audio::-webkit-media-controls-mute-button,
 audio::-webkit-media-controls-volume-slider {
    color: #F7F2DF;
 }
 
 audio::-webkit-media-controls-timeline {
    background-color: #F7F2DF;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
 }

 .recording-section {
    margin: 40px 0;
    padding: 24px;
    border-radius: 8px;
}

.audio-label {
    font-style: italic;
    margin-bottom: 16px;
}

.audio-placeholder {
    width: 400px;
    height: 40px;
    background-color: rgba(202, 57, 51, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-placeholder p {
    color: #CA3933;
    font-style: italic;
}

#sweet-sour-pork-hero {
    height: 45vh;
    width: auto;
}

.ingredients-instructions {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

main img {
    margin-top: 40px;
    width: 100%;
}

.ingredients {
    width: 40%;
}

.instructions {
    width: 100%;
}

.ingredients-content {
    display: flex;
    flex-direction: column;
}

button {
    padding: 4px 8px;
    cursor: pointer;
    color: #CA3933;
    border: 2px solid #CA3933;
    background-color: #F7F2DF;
    border-radius: 4px;
    font-family:'Hiragino Kaku Gothic Pro', Helvetica, sans-serif;
    font-size: 16px;
}

button.active {
    color: #fff;
    background-color: #CA3933;
}

small {
    display: flex;
    justify-content: end;
}

@media only screen and (max-width: 860px) {
    .ingredients-instructions {
        flex-direction: column;
    }
    .ingredients {
        width: 100%;
    }
    .recipe-header {
        flex-direction: column;
    }
    .recipe-hero-image {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
