h1 {
    text-align: left;
}

h2 {
    font-weight: 800;
}

.ingredients-instructions {
    display: flex;
    flex-direction: row;
}

main img {
    margin-top: 40px;
    width: 100%;
}

.ingredients {
    width: 70%;
}

.ingredients-content {
    display: flex;
    flex-direction: column;
}

button {
    padding: 4px 8px;
    cursor: pointer;
    color: #CA3933;
    border: 2px solid #CA3933;
    background-color: #F7F2DF;
    border-radius: 4px;
    font-family:'Hiragino Kaku Gothic Pro', Helvetica, sans-serif;
    font-size: 16px;
}

button.active {
    color: #fff;
    background-color: #CA3933;
}

@media only screen and (max-width: 860px) {
    .ingredients-instructions {
        flex-direction: column;
    }
}
