body {
    background-color: #F7F2DF;
    color: #CA3933;
    font-family:'Hiragino Kaku Gothic Pro', Helvetica, sans-serif;
}

.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}  

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nav-left a {
    font-size: 24px;
    font-weight: 600;
    color: #CA3933;
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
    position: relative;
}

.nav-right {
    display: flex;
    gap: 40px;
}

.nav-right a {
    color: #CA3933;
    text-decoration: none;
    font-size: 16px;
    padding: 24px 16px;
    display: inline-block;
    position: relative;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 20px;
    left: 0;
    background-color: #CA3933;
    transition: width 0.3s ease;
}

.nav-right a::after {
    left: 16px;
    right: 16px;
}

.nav a:hover::after {
    width: 100%;
}

.nav-right a:hover::after {
    width: calc(100% - 32px);
}

@media only screen and (max-width: 600px) {
    .nav {
        padding: 0 20px;
    }
    
    .nav-right {
        gap: 20px;
    }
    
    .nav-right a {
        padding: 24px 12px;
    }
    
    .nav-right a::after {
        left: 12px;
        right: 12px;
    }
    
    .nav-right a:hover::after {
        width: calc(100% - 24px);
    }
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.hero-image {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 56px;
    text-align: center;
}

article a {
    text-decoration: none;
    color: #CA3933;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 16px;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    text-align: center;
}

h2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #CA3933;
    transition: width 0.3s ease;
}

article:hover h2::after {
    width: 100%;
}

#recipes {
    padding-bottom: 200px;
}

.thumbnail {
    width: 388px;
}

#egg-dumplings img, #fish-balls img {
    width: 500px;
}

.dish-container {
    text-align: center;
    height: 250px;
}

.justify-right-container {
    display: flex;
    justify-content: flex-end;
}

.justify-left-container {
    display: flex;
    justify-content: flex-start;
}

footer {
    text-align: center;
    padding-top: 40px;
}

@media only screen and (max-width: 1350px) {
    .dish-container {
        text-align: center;
        height: 425px;
    }

    .justify-right-container {
        display: flex;
        justify-content: center;
    }
    
    .justify-left-container {
        display: flex;
        justify-content: center;
    }

    #fish-balls h2 {
        text-align: center;
    }

    main {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #recipes {
        padding-bottom: 50px;
    }
  }
  